<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="styles/detail.css">
    <title>嘿嘿嘿～ 我翻到了<%=name%>的牌！ 今晚<%=firstName%>贵人来<%=share%></title>
</head>

<body>
    <section class="portrait"><span class="container"><img src="./images/people/<%=name%>_1.png" alt=""></span></section>
    <section class="info">
        <p class="name"><%=name%></p>
        <p class="des"><%=name%><%= para%></p>
    </section>
    <footer class="share-part">
        <button class="share-btn">分享</button>
 		<a href="/" class="once-again">再玩一次</a>
    </footer>
    <footer class="then-info">
        <i class="then-logo"></i><strong>然后?</strong><span>故事才刚刚开始</span>
        <a class="download" href="http://ranhou.hustonline.net/">下载</a>
    </footer>
    <script type="text/javascript" src="dist/detail.entry.js"></script>
</body>

</html>
