<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <title>翻个爱豆当男友</title>
</head>

<body>
<img src="images/share.png" style="position: absolute;z-index: -1;visibility: hidden;width: 0;left: 0;" />
	<p class="header"><img src="./images/headerFont.png" alt="" class="headerFont"></p>
	<div class="container">
		<p>
			<img src="<%= imgs[0]%>" data-firstName="<%= firstName[0]%>">
			<img src="<%= imgs[1]%>" data-firstName="<%= firstName[1]%>">
			<img src="<%= imgs[2]%>" data-firstName="<%= firstName[2]%>">
		</p>
		<p>
			<img src="<%= imgs[3]%>" data-firstName="<%= firstName[3]%>">
			<img src="<%= imgs[4]%>" data-firstName="<%= firstName[4]%>">
			<img src="<%= imgs[5]%>" data-firstName="<%= firstName[5]%>">
		</p>
		<p>
			<img src="<%= imgs[6]%>" data-firstName="<%= firstName[6]%>">
			<img src="<%= imgs[7]%>" data-firstName="<%= firstName[7]%>">
			<img src="<%= imgs[8]%>" data-firstName="<%= firstName[8]%>">
		</p>
	</div>
	<p class="refresh"><button class="refresh-btn">给我刷新</button></p>
	<p class="foot"><img src="./images/footFont.png" alt="" class="footFont"></p>
	<script type="text/javascript" src="dist/zepto.entry.js"></script>
    <script type="text/javascript" src="dist/index.entry.js"></script>
</body>

</html>
